<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <!-- 공지사항 목록 리스트 resultMap -->
    <mapper namespace="Notice">
    
	    <resultMap id="NoticeListMap" type="com.bujun.notice.vo.NoticeVo">
		    <result property="ad_idx" column="AD_IDX" javaType="int" />
		    <result property="ad_code" column="AD_CODE" javaType="String" />
			<result property="ad_writer" column="AD_WRITER" javaType="String" />
			<result property="ad_rimemnum" column="AD_RIMEMNUM" javaType="String" />
			<result property="ad_title" column="AD_TITLE" javaType="String" />
			<result property="ad_content" column="AD_CONTENT" javaType="String" />
			<result property="ad_regdate" column="AD_REGDATE" javaType="String" />
			<result property="ad_count" column="AD_COUNT" javaType="int" />
		</resultMap>
		
		<resultMap id="FileMap" type="com.bujun.notice.vo.FileVo">
			<result property="file_idx" column="FILE_IDX" javaType="int"/>
			<result property="file_boardidx" column="FILE_BOARDIDX" javaType="int"/>
			<result property="file_boardcode" column="FILE_BOARDCODE" javaType="String"/>
			<result property="file_filename" column="FILE_FILENAME" javaType="String"/>
			<result property="file_size" column="FILE_SIZE" javaType="String"/>
			<result property="file_filerealname" column="FILE_FILEREALNAME" javaType="String"/>
			<result property="file_ext" column="FILE_EXT" javaType="String"/>
			<result property="file_regdate" column="FILE_REGDATE" javaType="String"/>
		</resultMap>
		
		<select id="NoticeList" statementType="CALLABLE" parameterType="hashmap"
			resultType="com.bujun.notice.vo.NoticeVo">
			{CALL PKG_NOTICE.PROC_NOTICE_LIST(
				#{ad_code, mode=IN, jdbcType=VARCHAR},
				#{nowpage, mode=IN, jdbcType=INTEGER},
				#{searchType, mode=IN, jdbcType=VARCHAR},
				#{keyWord, mode=IN, jdbcType=VARCHAR},
				#{total, mode=OUT, jdbcType=INTEGER},
				#{result, mode=OUT, jdbcType=CURSOR, javaType=RESULTSET, resultMap=NoticeListMap}
			)}
		</select>
		
		<select id="NoticeView" statementType="CALLABLE" parameterType="hashmap"
			resultType="com.bujun.notice.vo.NoticeVo">
			{CALL PKG_NOTICE.PROC_NOTICE_VIEW(
				#{ad_idx, mode=IN, jdbcType=INTEGER},
				#{ad_code, mode=IN, jdbcType=VARCHAR},
				#{ad_writer, mode=OUT, jdbcType=VARCHAR},
				#{result, mode=OUT, jdbcType=CURSOR, javaType=RESULTSET, resultMap=NoticeListMap}
			)}
		</select>
		
		<insert id="NoticeWrite" statementType="CALLABLE" parameterType="hashmap">
		{CALL PKG_NOTICE.PROC_NOTICE_INSERT(
		#{ad_writer, mode=IN, jdbcType=VARCHAR},
		#{ad_title, mode=IN, jdbcType=VARCHAR},
		#{ad_content, mode=IN, jdbcType=VARCHAR},
		#{ad_code, mode=IN, jdbcType=VARCHAR},
		#{ad_idx, mode=OUT, jdbcType=INTEGER}
		)}
		</insert>
		
		<insert id="insertFile" statementType="CALLABLE" parameterType="hashmap">
		{CALL PKG_OPENINFO.PROC_INSERT_FILE(
		#{ad_idx, mode=IN, jdbcType=INTEGER},
		#{ad_code, mode=IN, jdbcType=VARCHAR},
		#{filename, mode=IN, jdbcType=VARCHAR},
        #{filesize, mode=IN , jdbcType=INTEGER},
        #{orgfilename, mode=IN, jdbcType=VARCHAR},        
        #{fileext, mode=IN, jdbcType=VARCHAR}
        )}
		</insert>
		
		<update id="noticeUpdate" statementType="CALLABLE" parameterType="hashmap">
			{CALL PKG_NOTICE.PROC_NOTICE_UPDATE(
			#{ad_idx, mode=IN, jdbcType=INTEGER},
			#{ad_code, mode=IN, jdbcType=VARCHAR},
			#{ad_title, mode=IN, jdbcType=VARCHAR},
			#{ad_content, mode=IN, jdbcType=VARCHAR}
			)}
		</update>
		
		<update id="updateFile" statementType="CALLABLE" parameterType="hashmap">
			{CALL PKG_OPENINFO.PROC_UPFILE(
			#{ad_idx,      mode=IN, jdbcType=INTEGER},
            #{ad_code,     mode=IN, jdbcType=VARCHAR},
            #{filename,    mode=IN, jdbcType=VARCHAR},
            #{filesize,    mode=IN, jdbcType=INTEGER},  
            #{orgfilename, mode=IN, jdbcType=VARCHAR},
            #{fileext,     mode=IN, jdbcType=VARCHAR}
			)}
		</update>
		<delete id="deleteFile" statementType="CALLABLE" parameterType="hashmap">
			{CALL PKG_OPENINFO.PROC_DEL_FILE(
			#{ad_idx, mode=IN, jdbcType=INTEGER},
			#{ad_code, mode=IN, jdbcType=VARCHAR}
			)}
		</delete>
    </mapper>