@charset "utf-8";

/******************** pc *****************/


/* search */
.boardSearch {margin-bottom:20px;font-size:15px; overflow:hidden; box-sizing:border-box; clear:both;}
.board_page {float:left; font-size:14px; padding:8px 0 0 0px;  }
.board_page span.p01 {color:#0071aa}
.board_page span.p02 {color:#333}
.board_page span.p03 {color:#777}
.boardSearch .board_sch {display:inline-block; float:right;}
.boardSearch select {margin-right:3px;padding:5px; height:35px;border:1px solid #d8d8d8;font-size:14px;vertical-align:middle;  box-sizing:border-box;}
.boardSearch input {padding:7px;width:210px; height:35px; border:none;background:#d8d8d8;font-size:14px;vertical-align:middle; color:#333; box-sizing:border-box;}
.boardSearch a.searchBtn {display:inline-block;padding:0px 15px; line-height:35px; background:#777; font-weight:400; color:#fff; vertical-align:middle; box-sizing:border-box; border:1px solid #676767;  transition: all 0.3s ease-out;}
.boardSearch input[type='submit'] {width:auto; display:inline-block;padding:0px 10px; line-height:35px; background:#777; font-weight:400; color:#fff; vertical-align:middle; box-sizing:border-box; border:1px solid #676767;  transition: all 0.3s ease-out;}
.boardSearch input[type='checkbox'] {width:20px; height:20px;}
.boardSearch a.searchBtn:hover{background:#4d4d4d; font-weight:400; color:#fff; border:1px solid #4d4d4d;}
.boardBtn {display:inline-block;width:88px;padding:12px 5px 10px; text-align:center; background:#717171; color:#fff; font-weight:400; border-radius:5px; overflow:hidden; transition: all 0.3s ease-out;}
/*notice btn*/
.board_sch button{display:inline-block; padding:0px 15px; line-height:35px;background:#777;font-weight:400;color:#fff;vertical-align:middle;box-sizing:border-box;  border-radius:0px; border:1px solid #676767; transition: all 0.3s ease-out;}
.insertbtn .btn_1 {display:inline-block; padding:0px 15px; line-height:35px;background:#777; font-weight:400;  vertical-align:middle; box-sizing:border-box; border:1px solid #676767; transition: all 0.3s ease-out;}
.insertbtn a {display:inline-block; width:100%; height:100%; color:#fff;}
.insertbtn .btn_1:hover {background:#4d4d4d; font-weight:400; border:1px solid #4d4d4d;}
.insertbtn {text-align: right;}

/*notice view  */
.tb_boardss {font-weight:300; width:100%; border:0; border-collapse:collapse; margin-bottom:20px; line-height:1.5em;  border-top:2px solid #333;}
.tb_boardss .tb_title {font-weight:400; padding: 10px 15px 8px; border-bottom:1px solid #ccc; background-color:#f7f7f7; font-size:16px; text-align: center;}
.tb_boardss .tb_infor {padding: 10px 15px 8px; border-bottom:1px solid #ccc; font-size: 12px;}
.tb_boardss .tb_infor strong {margin-right: 5px;}
.tb_boardss .tb_infor span {padding-right: 10px;}
.tb_boardss .tb_content {padding: 20px 15px; border-bottom:1px solid #ccc;}
.tb_boardss .tb_files {padding: 10px 15px 8px; border-bottom:1px solid #ccc;}
.btnst {margin-bottom:50px; text-align: right;}
.btns { padding:5px; font-size:13px;}

/*noticeview btn */
.btnst .btns_1, .btnst .btns_2 {display:inline-block; padding:0px 15px; line-height:35px; background:#777; font-weight:400;	vertical-align:middle; box-sizing:border-box; border:1px solid #676767; transition: all 0.3s ease-out; display: inline-block;}
.btnst .btns_1>a, .btnst .btns_2>a { display: inline-block; width: 100%; height: 100%; color: #fff;}	
.btnst .btns_1:hover, .btnst .btns_2:hover {background:#4d4d4d; font-weight:400; border:1px solid #4d4d4d;}

/*noticeupdate, noticewrite  */
.tb_boardss .top {clear: both; height:37px;}
.tb_boardss .n_writer {float: left; width:50%;}
.tb_boardss .n_writer .n_left{float: left; width: 33%; background-color: #2d82b8; color:#fff; box-sizing: border-box; text-align:center; height: 37px; border-bottom: 1px solid #fff; line-height: 37px;}
.tb_boardss .n_writer .n_right{float: right; height: 37px; width: 67%; box-sizing: border-box; }
.tb_boardss .n_writer .n_right input {padding:9px 0 8px 0; border: none; width:100%; display: inline-block;box-sizing: border-box; height:37px;  border-bottom: 1px solid #aaa;}
.tb_boardss .n_title {float: right; width:50%; height: 37px; box-sizing: border-box;}
.tb_boardss .n_title .n_left{float: left; width: 33%; background-color: #2d82b8; color:#fff; box-sizing: border-box; height: 37px; text-align: center; line-height: 37px;}
.tb_boardss .n_title .n_right{float: right; display: block; line-height: 1px; border-right: 1px solid #aaa; width: 67%;height: 37px; box-sizing: border-box;}
.tb_boardss .n_title .n_right input{padding: 9px 0 8px 0; border: none; width:100%; display: inline-block;box-sizing: border-box; height:37px;  border-bottom: 1px solid #aaa;}
.tb_boardss .n_file {width:100%; height: 37px; box-sizing: border-box; }
.tb_boardss .n_file .n_left {float: left; width: 16.5%; background-color: #2d82b8; color:#fff; box-sizing: border-box; height:37px; text-align:center; line-height:37px; border-bottom: 1px solid #fff;}
.tb_boardss .n_file .n_right {border-right:1px solid #aaa; box-sizing: border-box; width: 83.5%; height: 37px; box-sizing: border-box; border-bottom: 1px solid #aaa; float: right;}
.tb_boardss .n_file .n_right input{padding: 6px 0 7px 0; margin-left:1px;}
.tb_boardss .n_file .n_right span{padding: 6px 0 7px 0; margin-left:1px; display: inline-block;}
.tb_boardss .n_file .n_right img {padding-top: 8px;}
.tb_boardss .n_cont {height: 202px; width:100%; box-sizing:border-box; clear: both; border-top: 1px solid #aaa; margin-bottom: 10px;}
.tb_boardss .n_cont .n_left {float: left; width: 16.5%; background-color: #2d82b8; color:#fff; box-sizing: border-box; height: 200px; text-align: center; line-height: 200px;}
.tb_boardss .n_cont .n_right {width: 83.5%; float: right; box-sizing: border-box; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa;}
.tb_boardss .n_cont .n_right textarea {height: 200px; width: 100%; display: inline-block; border: none;}
.tb_boardss button {display:inline-block; padding:0px 15px; line-height:35px; background:#777; font-weight:400;vertical-align:middle; box-sizing:border-box; border:1px solid #676767; transition: all 0.3s ease-out; color: #fff;}
.tb_boardss button:hover { background:#4d4d4d; font-weight:400; border:1px solid #4d4d4d;}
.tb_boardss .btn_01 {display:inline-block; padding:0px 15px; line-height:35px; background:#777; font-weight:400;	vertical-align:middle; box-sizing:border-box; border:1px solid #676767; transition: all 0.3s ease-out; display: inline-block; color:#fff;}
.tb_boardss .btn_01:hover { background:#4d4d4d; font-weight:400; border:1px solid #4d4d4d;}
.boardBtn:hover{background:#4d4d4d; color:#fff;}
.boardBtn02 {display:inline-block;width:88px;padding:12px 5px 10px; text-align:center;background:#394c67; color:#fff; font-weight:400; border-radius:5px; overflow:hidden; transition: all 0.3s ease-out;}
.boardBtn02:hover {background:#ff4f4e; color:#fff;}
.basicBtn {display:block; width:280px; margin:0 auto; padding:12px 0; background:#394c67 url(/kor/images/common/basic_btn_icon.png) no-repeat 90% 50%; font-weight:400; font-size:15px; color:#fff; text-align:center; transition: all 0.3s ease-out;}
.basicBtn:hover {background:#ff4f4e url(/kor/images/common/basic_btn_icon.png) no-repeat 90% 50%;}



/* 자리예약 */
.resWrap {
	width: 100%;
	margin: 0 auto;
}

.res01 {
    border-top: 1px solid #6e6e6e;
    display: inline-block;
    width: 48%;
    height: 438px;
    box-sizing: border-box;
    border-left: 1px solid #6e6e6e;
}


.res01 .mak, .res03 .mak. .res04 .mak, .res05 .mak, .res06 .mak {
	width: 12%;
	height: 69px;
	float: left;
}

.res03 {
    display: block;
    width: 100%;
    height: 83px;
    float: left;
    border-top: 1px solid #6e6e6e;
    border-left: 1px solid #6e6e6e;
}

.res04 {
    width: 100%;
    height: 85px;
    border-top: 1px solid #6e6e6e;
    border-left: 1px solid #6e6e6e;
}
.res05 {
    border-top: 1px solid #6e6e6e;
    margin-bottom: 14px;
    float: left;
    width: 100%;
    height: 100px;
    border-left: 1px solid #6e6e6e;
}

.dvd {
    border-right: 1px solid #6e6e6e;
    width: 20%;
    height: 100px;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #6e6e6e;
    padding:10px;
    cursor: pointer;
}

.note {
    border-right: 1px solid #6e6e6e;
    width: 20%;
    height: 100px;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #6e6e6e;
    padding:10px;
}
.bof {
    width: 100%;
    height: 84px;
    box-sizing: border-box;
    border-right: 1px solid #6e6e6e;
    border-bottom: 1px solid #6e6e6e;
    padding:10px;
    cursor: pointer;
}

.scanner {
    border-right: 1px solid #6e6e6e;
    height: 84px;
    box-sizing: border-box;
    border-bottom: 1px solid #6e6e6e;
    padding:10px;
    cursor: pointer;
}
.res06 {
    border-top: 1px solid #6e6e6e;
    margin-bottom: 14px;
    float: left;
    width: 100%;
    height: 100px;
    border-left: 1px solid #6e6e6e;
    cursor: pointer;
}
.restwoWrap {
	margin-bottom: 14px;
	height: 100px;
}

.res_b .lf {float:left; width:48%;}
.res_b .lr {float:right; width:50%;}



.inter {
    border-right: 1px solid #6e6e6e;
    width: 25%;
    height: 73px;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #6e6e6e;
    padding:10px;
    cursor: pointer;
}

.reference {
	height: 510px;
	width: 50%;
	float: right;
	margin-top:-28px;
}




.green {
	width: 9px;
	height: 16px;
	background: green;
	display: inline-block;
	vertical-align: middle;
}

.ornage {
	width: 9px;
	height: 16px;
	background: orange;
	display: inline-block;
	vertical-align: middle;
}


.resWrap {
	width: 100%;
	margin: 0 auto;
}

.res02 {
    border-top: 1px solid #6e6e6e;
    width: 100%;
}

.res02 .mak { 
    border-left: 1px solid #6e6e6e;
    width: 12.5%;
    height: 69px;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #6e6e6e;
    padding:10px;
    cursor: pointer;
}

.res02 .mak:nth-child(8n) {border-right:1px solid #6e6e6e;}
.status {height:30px;}
.statusUl>li {float: left;}
.statusUl>li:nth-child(1) {margin-right:10px;}


@media only screen and (max-width: 580px) {
	.res02 .mak {width:19.98%;}
	.res02 .mak:nth-child(8n) {border-right:0;}
	.res02 .mak:nth-child(5n) {border-right:1px solid #6e6e6e;}
	.res02 .mak:nth-child(26) {border-left:1px solid #6e6e6e;}
	
	.res01 {width:100%;}
	.res06, .note, .res05, .dvd, .res03, .bof, .res04, .scanner {height:73px;}
	.reference {margin-top:10px; float:none; height:auto; width:100%;}
}

#seargo {
   width:500px;height:500px;text-align:center;vertical-align:middle; padding:20px; box-sizing:border-box;
}


#mask {  
    position:absolute;  
    z-index:9999;  
    background-color:#000;  
    display:none;  
    left:0;
    top:0;
} 
/* 팝업으로 뜨는 윈도우 css  */ 
.window{
 display: none;
    position: absolute;
    left: 80%;
    top: 287px;
    margin-left: -500px;
    width: 500px;
    height: 500px;
    background-color: #FFF;
    z-index: 10000; 
 }


@media only screen and (max-width:800px) {
   .window{
       left:0;
       top: 287px;
       margin-left: 0;
       width: 100%;
    }
    
    #seargo {
      width:auto; height:500px; text-align:center; vertical-align:middle;   
   }
}





















/* sitemap */
.sitemap {
	}
.sitemapArea {
	clear: both;
	border: 1px solid #dedede;
	background: #fff;
	margin-bottom: 15px;
	}
.sitemapLeft {
	float: left;
	width: 27%;
	}
.sitemapLeft h4.sitemap_title {
	font-size: 18px !important;
	color: #2f78d3 !important;
	margin: 20px !important;
	padding: 0 0 0 25px !important;
	}
.sitemapRight {
	float: left;
	width: 72%;
	border-left: 1px solid #dedede;
	min-height:58px;
	}
.sitemapRight > ul {
	padding: 10px;
	}
.sitemapRight  > ul > li > div > ul > li {
	float:left;
	width: 33%;
	margin-bottom:5px;
	}
.sitemapRight > ul > li > div{
	margin-top:5px;
	background-color: #EFEFEF;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding:5px;
	}
.sitemapRight > ul > li > div > ul > li > a{
	padding: 0 15px 0 9px;
	background: url(../images/common/bul_depth03.png) no-repeat 0 6px !important;
	display:inline-block;
	line-height:16px;
	letter-spacing:-1px;
	}
.sitemapRight  > ul > li > a{
	display:inline-block;
	clear:both;
	background: url(../images/common/bul_h6.png) no-repeat left 10px !important;
	letter-spacing:-1px;
	padding: 5px 0 0 15px;
	font-weight: bold;
	margin-top:10px;
	}
.sitemapRight  > ul > li:first-child > a{
	margin-top:0px;
	}
.sitemapRight > ul > li > div > ul > li:nth-child(3n+1){
	clear:left;
}
.sitemap .st_box { float:left; width:32.6%; margin: 0 1% 40px 0; box-sizing: border-box; }
.sitemap .st_box:nth-child(3n) {margin-right:0;}
.sitemap .st_box a { display: block; }
.sitemap .st_list > li { border-top: 1px solid #dcdcdc; }
.sitemap .st_list > li > a { height: 40px; padding-left: 20px; background: #f0f0f0;  line-height: 40px; }
.sitemap .st_list > li > a:hover {color:#333; text-decoration:underline;}
.sitemap .st_box p.title {/*  height: 50px; */ background: #106ab0; color: #fff; font-size: 1.230em; font-weight: 600; text-align: center; line-height: 52px; }
.sitemap .st_list { border: 1px solid #dcdcdc; border-top: 0; }
.sitemap .st_list ul a { padding-left:30px;  }
.sitemap .st_list ul a:hover {color:#333; text-decoration:underline;}
.sitemap .st_list > li > ul {padding:10px 0;}
.sitemap .st_list > li > ul > li {line-height:25px; background:url("../images/sub/sbul.jpg") no-repeat 20px center;}
.sitemap .box_position {margin-top:-551px;}

@media only screen and (max-width:760px) {
	.sitemap .st_box {width:49.5%;}
	.sitemap .box_position {margin-top:0;} 
	.sitemap .st_box:nth-child(2n) {margin-right:0 !important;}
	.sitemap .st_box:nth-child(3n) {margin-right:1%;}
}

@media only screen and (max-width:500px) {
	.sitemap .st_box {width:100%; margin: 0 1% 20px 0;}
	.sitemap .st_box:nth-child(3n) {margin-right:0%;}
}




/*비치희망자료결과, 수정  */
.v_left{background-color: #f9f9f9; width: 16.44%; height: 41px; border-right:1px solid #ddd;	border-bottom:1px solid #ddd; box-sizing: border-box; float: left; text-align: center; line-height: 41px;}
.tb_book {border-top: 2px solid #333; height:246px; box-sizing: border-box; margin-bottom: 10px;}
.memname, .bookname, .rows_1, .cansle, .canselreason, .rows_2, .pickcontent{width: 100%; clear: both; box-sizing: border-box; height: 41px; border-bottom: 1px solid #ddd;}
.r_left{background-color: #f9f9f9; width: 33%; height: 41px; border-right:1px solid #ddd;	border-bottom:1px solid #ddd; box-sizing: border-box; float: left; text-align: center; line-height: 41px;}
.v_right {width: 83.56%; height: 41px; padding-left: 10px; box-sizing: border-box; float: right; line-height: 41px;}
.rowleft {width: 50%; height: 41px; border-right:1px solid #ddd; box-sizing: border-box; float: left;}
.rowright { width: 50%; height: 41px; box-sizing: border-box; float: right;}
.r_right { width: 67%; height: 41px; padding-left: 10px; box-sizing: border-box; border-bottom: 1px solid #ddd; float: right; line-height: 41px;}
/* .r_1 {width: 254px; padding: 10px;box-sizing: border-box;} */
.r_left1{background-color: #f9f9f9; width: 33%; height: 41px; border-right:1px solid #ddd; box-sizing: border-box; float: left; text-align: center; border-bottom: 1px solid #ddd; line-height: 41px;}
.r_right2 { width: 67%; height: 41px; padding-left: 10px; box-sizing: border-box; float: right; line-height: 41px;}

/*비치희망자료 신청: 수정  */
.applyboard {width: 100%; margin-top: 20px; border-top: 1px	solid #a4a4a4; margin-bottom: 10px;}
.a_time, .a_name, .apply3, .apply4, .a_booktitle, .a_bookwriter, .apply7, .bestcont{width: 100%; clear: both; box-sizing: border-box; height: 41px; border-bottom: 1px solid #ddd;}
.a_left {text-align:center; line-height:41px; background-color: #f9f9f9; width: 20%; height: 41px; border-bottom:1px solid #ddd; box-sizing: border-box; float: left;}
.a_right {width: 80%; height: 41px; padding-left: 10px; line-height:41px; border-left:1px solid #ddd; box-sizing: border-box; float: right;}
.star {color: red;}
.a_tel, .a_sms, .a_publisher {width: 50%; height: 41px; float: left; box-sizing: border-box; border-right: 1px solid #ddd;}
.a_email, .a_spick, .a_publication {width: 50%; height: 41px; float: right;}
.bestcont {height: 87px;box-sizing: border-box;}
.apply3 .title, .apply7 .title{width: 40.089%;}
.apply3 .cont, .apply7 .cont {width:59.911%;} 
.bestcont .titles {height: 87px; text-align:center; box-sizing: border-box; line-height: 87px;}
.bestcont .conts {height: 87px; padding: 10px; box-sizing: border-box;}
.btnst button {display:inline-block; padding:0px 15px; line-height:35px; background:#777; font-weight:400;vertical-align:middle; box-sizing:border-box; border:1px solid #676767; transition: all 0.3s ease-out; color: #fff;}
.btnst button:hover { background:#4d4d4d; font-weight:400; border:1px solid #4d4d4d;}

/*비치희망자료 신청  */
.applyboards {width: 100%; margin-top: 20px; border-top: 1px solid #a4a4a4; margin-bottom: 10px;}
.as_name, .as_tel, .as_email, .as_booktitle, .as_bookwriter, .as_publisher, .as_publication {width: 100%; height: 41px; box-sizing: border-box; border-bottom: 1px solid #ddd; clear: both;}
.as_left {width: 25%; height: 41px; text-align: center; line-height: 41px; background-color: #f9f9f9; box-sizing: border-box; border-right: 1px solid #ddd; float: left; border-bottom: 1px solid #ddd;}
.as_right, .asc_right {width: 75%; height: 41px; padding: 5px 0 0 10px; vertical-align: middle; box-sizing: border-box; float: right;}
.as_right input {display: inline-block; height: 30px; box-sizing: border-box; width: 228px;}
.asc_right>input {display: inline-block; height: 30px; box-sizing: border-box; width:105px; }
	@media only screen and (max-width:960px) {

.boardSearch .board_sch {display:inline-block; margin-top:10px;}

}

@media only screen and (max-width:800px) {
	.pc {display:none;}
	.mobile {display:block;}

	.boardSearch .board_sch {display:block; float:left; margin-top:10px; width:100%;}
	.boardSearch select {margin-right:0; width:100%; margin-bottom:5px;}
	.boardSearch input {width:100%; margin-bottom:5px;}
	.boardSearch a.searchBtn {display:inline-block;width:100%; height:35px; text-align:center;  }
	.boardBtn {display:inline-block;width:70px;padding:12px 5px 10px; text-align:center; background:#717171; color:#fff; font-weight:400; transition: all 0.3s ease-out;}
	.boardBtn02 {display:inline-block;width:70px;padding:12px 5px 10px; text-align:center;background:#394c67; color:#fff; font-weight:400; transition: all 0.3s ease-out;}
}

  .btn_down, .btn_down:hover {
    background-image: url(../images/sub/down.png);
} 
.btn_con {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #fff;
    background-position: 90% center;
    background-repeat: no-repeat;
    padding: 10px 50px 10px 10px;
    font-size: 12px;
    color: #000;
    border: 1px solid #393939;
    color: #313131;
    white-space: nowrap;
}

.btn_con1 {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #fff;
    background-position: 90% center;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    color: #000;
    border: 1px solid #393939;
    color: #313131;
    white-space: nowrap;
}

/*열람실  */

			@media all {
				.lightbox { display: none; }
				.fl-page h1,
				.fl-page h3,
				.fl-page h4 {
					font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
					font-weight: 100;
					letter-spacing: 1px;
				}
				.fl-page h1 { font-size: 110px; margin-bottom: 0.5em; }
				.fl-page h1 i { font-style: normal; color: #ddd; }
				.fl-page h1 span { font-size: 30px; color: #333;}
				.fl-page h3 { text-align: right; }
				.fl-page h3 { font-size: 15px; }
				.fl-page h4 { font-size: 2em; }
				.fl-page .jumbotron { margin-top: 2em; }
				.fl-page .doc { margin: 2em 0;}
				.fl-page .btn-download { float: right; }
				.fl-page .btn-default { vertical-align: bottom; }

				.fl-page .btn-lg span { font-size: 0.7em; }
				.fl-page .footer { margin-top: 3em; color: #aaa; font-size: 0.9em;}
				.fl-page .footer a { color: #999; text-decoration: none; margin-right: 0.75em;}
				.fl-page .github { margin: 2em 0; }
				.fl-page .github a { vertical-align: top; }
				.fl-page .marketing a { color: #999; }

				/* override default feather style... */
				.fixwidth {
					background: rgba(256,256,256, 0.8);
				}
				.fixwidth .featherlight-content {
					width: 500px;
					padding: 25px;
					color: #fff;
					background: #111;
				}
				.fixwidth .featherlight-close {
					color: #fff;
					background: #333;
				}

			}
			@media(max-width: 768px){
				.fl-page h1 span { display: block; }
				.fl-page .btn-download { float: none; margin-bottom: 1em; }
			}
			
			html.with-featherlight{overflow:hidden}
			.featherlight{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483647;text-align:center;white-space:nowrap;cursor:pointer;background:#333;background:rgba(0,0,0,0)}
			.featherlight:last-of-type{background:rgba(0,0,0,.8)}
			.featherlight:before{content:'';display:inline-block;height:100%;vertical-align:middle}
			.featherlight .featherlight-content{position:relative;text-align:left;vertical-align:middle;display:inline-block;overflow:auto;padding:25px 25px;border-bottom:25px solid transparent;margin-left:5%;margin-right:5%;max-height:95%;background:#fff;cursor:auto;white-space:normal}
			.featherlight .featherlight-inner{display:block}
			.featherlight link.featherlight-inner,.featherlight script.featherlight-inner,
			.featherlight style.featherlight-inner{display:none}
			.featherlight .featherlight-close-icon{position:absolute;z-index:9999;top:0;right:0;line-height:25px;width:25px;cursor:pointer;text-align:center;font-family:Arial,sans-serif;background:#fff;background:rgba(255,255,255,.3);color:#000;border:0;padding:0}
			.featherlight .featherlight-close-icon::-moz-focus-inner{border:0;padding:0}
			.featherlight .featherlight-image{width:100%}
			.featherlight-iframe .featherlight-content{border-bottom:0;padding:0;-webkit-overflow-scrolling:touch}
			.featherlight iframe{border:0}
			.featherlight *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
			.awcontent >.btn {margin-top: 10px;}
			.ta_1 {padding-top:10px;} 
			@media only screen and (max-width:1024px){
			.featherlight .featherlight-content{margin-left:0;margin-right:0;max-height:98%;padding:10px 10px 0;border-bottom:10px solid transparent}}
			@media print{html.with-featherlight>*>:not(.featherlight){display:none}}
			

/*열람실 끝  */
.tab_depth01 .temp03 .gener>a {color:#fff;}

.btns .btns_black {color:#fff; padding: 8px 25px; background: #696969; cursor:pointer;}
.btns .btns_black:hover {background:#4d4d4d;}


.btns .btns_blue {color:#fff; padding: 8px 25px; background:#2452a7; cursor:pointer;}
.btns .btns_blue:hover {background:#1b4187;}

.con_bblue {color:#fff !important; padding: 10px 25px; background:#2452a7; display:inline-block;}
.con_bblue:hover {background:#1b4187;}


.freebrd_box {margin-bottom:40px; position:relative; background: #fafafa; border: 1px solid #ccc;}
.freebrd_box .inner {padding: 40px; padding-left: 40px; padding-left: 170px;}
.freebrd_box .inner span.icon {position: absolute; left: 0px; top: 0px; width: 170px; height: 130px;}
.icon12 {background: url("../images/sub/icon12.png") no-repeat 60% 50%;}
.freebrd_box .tt {margin-bottom:10px; color: #3a81ca; font-size:20px; }
.txt_red {color:#ff0000;}
.agree_box {border:1px solid #ccc; padding:20px;}
.con_pass {background:#ededed; padding:20px;}
.con_pass .tit {font-size:15px; margin-bottom:9px;}
.con_pass input[type='password'] {padding-left: 10px; height:34px; border:1px solid #ccc;}
.con_pass a {color:#fff; background: #32bea6; display: inline-block; padding: 11px 20px; vertical-align: middle; margin-left: -2px;}


/*시설안내*/
.facilities_top {position:relative;}
.facilities_top ul {line-height:23px;}
.facilities_top div {width:270px; height:230px; padding:50px 0 0 50px; line-height:1.4;  /*font-family:"NanumSquareB"; */ font-size:34px; color:#fff; background:url("../images/sub/bg_RD0101_2.png") repeat left top;}
.facilities_top div span {display:block; padding-top:10px; font-size:14px; color:#fff;}
.facilities_top p.txt { position:absolute; top:70px; left:355px; font-family:"NanumSquareR"; font-size:16px; color:#fff; line-height:22px}
.facilities_top.bg_img1 {background:url("../images/sub/bj.jpg") no-repeat center;}
.facilities_top.bg_img6 h3 {background:url("../images/sub/bg_RD0302_2.png") repeat left top;}


@media only screen and (max-width: 768px) {
	.facilities_top div { height:200px; padding:25px 0 0 25px; font-size:26px;}
	.facilities_top p.txt { display:none}
	.facilities_top.bg_img1, .RD_busi_top.bg_img2, 
	.facilities_top.bg_img3, .RD_busi_top.bg_img4, .RD_busi_top.bg_img5 {background-size:cover;}
}


@media (max-width: 580px) {
	.facilities_top div {width:100%; height:auto; padding:25px 0; font-size:26px; text-align:center;}
	.facilities_top div span {background-position:center top;}
}


.img_original {   display: inline-block;    position: relative;    width: auto;  padding: 0;    font-size: 0;    line-height: 0;    vertical-align: middle;}
.img_original img{width:100%;}
.img_original a{display:none;position:absolute;right:0;bottom:0;padding:5px 10px;background-color:rgba(0,0,0,0.7);  color:#fff;font-size:15px;line-height:25px;}
.img_original a i{display:inline-block;width:25px;height:25px;margin:0 10px 0 0;vertical-align:middle; text-align: left; background:url(/img/sub/zoom.png) no-repeat 0 0; background-size:cover;}


@media screen and (max-width:1000px) {
  .img_box{padding:3%;}
  .img_original{padding:0 0 55px;}
  .img_original a{display:block;}
}


.basic_box.type1 {position:relative; background: #fafafa; border:1px solid #ccc; border-top: 3px solid #106ab0; border-right:0px; border-left:0px; margin-bottom:30px;}
.basic_box.type1 .inner{padding:40px; padding-left:170px;}
.basic_box.type1 .inner span.icon{position:absolute; left:0px; top:0px;  width:170px; height:130px;}
.basic_box.type1 .inner b{color:#3a81ca; font-size:25px;}
.basic_box.type1 .inner p {margin-top:10px;}

.icon1{background:url("../images/sub/icon1.png") no-repeat 60% 50%;}
.icon4{background:url("../images/sub/icon4.png") no-repeat 60% 50%;}
.icon5{background:url("../images/sub/icon5.png") no-repeat 60% 50%;}
.icon6{background:url("../images/sub/icon6.png") no-repeat 60% 50%;}
.icon7{background:url("../images/sub/icon7.png") no-repeat 60% 50%;}
.icon11{background:url("../images/sub/icon11.png") no-repeat 60% 50%;}
.icon8{background:url("../images/sub/icon8.png") no-repeat 60% 50%;}
.icon14{background:url("../images/sub/icon14.png") no-repeat 60% 50%;}
.icon19{background:url("../images/sub/icon19.png") no-repeat 60% 50%;}
.icon20{background:url("../images/sub/icon20.png") no-repeat 60% 50%;}
.icon21{background:url("../images/sub/icon21.png") no-repeat 60% 50%;}
.icon17{background:url("../images/sub/icon17.png") no-repeat 60% 50%;}
.icon18{background:url("../images/sub/icon18.png") no-repeat 60% 50%; background-size: 81px 80px;}
.icon10{background:url("../images/sub/icon10.png") no-repeat 60% 50%;}
.icon13{background:url("../images/sub/icon13.png") no-repeat 60% 50%;}
.icon23{background:url("../images/sub/icon23.png") no-repeat 60% 50%;}
.icon16{background:url("../images/sub/icon16.png") no-repeat 60% 50%;}


/* qna */
.qnafirst {padding:0 0 15px 0 !important;}
.qna { border-bottom:1px dotted #ccc; padding:15px 0 15px 0; position:relative;}
.qna dt {margin-bottom:18px; margin-left:57px; line-height:29px; font-size:16px; font-weight:400;}
.qna dd {margin-left:57px; line-height:29px;}
.qna dt img {vertical-align:middle; position:absolute; left:0;}
.qna dd img {vertical-align:top; position:absolute; left:0;}
.qna dt .qna_img {float:left;}
.qna dt .qna_con {float:left;} 
.qna dt:after {display:block; content:""; clear:both;}
.qna .qna_ul {width:90%; display:inline-block;}
.qna .qna_table {width:90%; display:inline-block;}
.qnalast {border-bottom:0 !important;}

.book_red .color {margin-bottom:10px; font-size:30px; color:#ff7200; line-height:30px !important;}
.book_red .con {line-height:23px;}



@media only screen and (max-width: 580px) {
	.basic_box.type1 {background:none; margin-bottom:20px;}
	.basic_box.type1 .inner{padding:30px;}

	.icon1, .icon2, .icon3, .icon4, .icon5, .icon6, .icon7, .icon8, .icon9, .icon10, .icon11, .icon12, .icon13,
	.icon14, .icon15, .icon16, .icon17, .icon18, .icon19, .icon20, .icon21, .icon22, .icon23, .icon24, .icon25 {background:none;}
}



/* 탭메뉴 */
#tab_depth01 {width:100%; margin:0 auto; position:relative; margin-bottom:50px; overflow:hidden;}
#tab_depth01 ul li {display:block; float:left; text-align:center; padding:12px 10px; border-top:1px solid #cacaca; border-left:1px solid #cacaca; border-right:none; border-bottom:1px solid #5f5f5f; box-sizing: border-box; }
#tab_depth01 ul li a {display:block; width:100%; font-size:15px; color:#555; transition: all 0.3s ease-in; }
#tab_depth01 ul li:hover {border-bottom:1px solid #3a81ca; box-sizing:border-box; }
#tab_depth01 ul li:hover a { color:#636b72; }
#tab_depth01 ul li:last-child {border-right:1px solid #cacaca;}
#tab_depth01 ul li.active { background:#636b72; border-top:1px solid #636b72; border-left:1px solid #636b72; border-bottom:1px solid #636b72; }
#tab_depth01 ul li.active a { color:#fff; font-weight:500; }
#tab_depth01 ul li:last-child a.active {border-right:1px solid #636b72; box-sizing: border-box;}

#tab_depth01.w50 ul li {width:50%;}
#tab_depth01.w33 ul li {width:33.333%;}
#tab_depth01.w25 ul li {width:25%;}
#tab_depth01.w25 ul li:nth-child(4) {border-right:1px solid #cacaca;}
#tab_depth01.w20 ul li {width:20%;}
#tab_depth01.w15 ul li {width:16.6666666667%;}
#tab_depth01.w16 ul li {width:33.333%;}
#tab_depth01.w16 ul li:nth-child(3) {border-right:1px solid #cacaca; box-sizing:border-box;}


@media(max-width:760px){
	#tab_depth01.w25 ul li {width:50%;}
	#tab_depth01.w25 ul li:nth-child(2n) {border-right:1px solid #cacaca;}
}

@media(max-width:680px){
	#tab_depth01.w16 ul li {width:50%;}
	#tab_depth01.w16 ul li:nth-child(2), #tab_depth01.w16 ul li:nth-child(4) {border-right:1px solid #cacaca; box-sizing:border-box;}
}

@media(max-width:450px){
	#tab_depth01.w16 ul li {width:100%;}

}


/* 원북원 */
#onbook{position:relative; /*border-top:2px solid #0b58a7;*/ margin-top:10px; }
#onbook ul::after{display:block;clear:both;content:''}
#onbook > ul > li{padding:0 0 10px 0;width:100%;}
#onbook ul li dl{position:relative;margin:0 0px;padding:20px 0;min-height:190px; border-bottom:1px solid #dcd9d9; }
#onbook ul li dl dt{ line-height:25px; margin-bottom:15px; margin-left:160px; font-size:18px;font-weight:600; overflow:hidden; text-overflow:ellipsis; color:#d0463b;}
#onbook ul li dl dd.book{position:absolute;top:20px;left:0px;width:150px;}
#onbook ul li dl dd.book img{border:1px solid #ccc;width:120px; height:190px}
#onbook ul li dl dd.con{margin-left:160px; line-height:24px;}
#onbook ul li dl dd li{position:relative;margin-bottom:5px; /*padding-left:40px;*/min-height:20px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#onbook ul li dl dd li .name{/*position:absolute;top:0;left:0;*/font-weight:800; display:inline-block; margin-right:5px; text-align:justify;}
#onbook ul li dl dd li .name span {letter-spacing:.41em;}

#onbook dl dt span.btn1 {display:inline-block;padding:5px 10px;font-size:13px;color:#fff;line-height:13px;background:#ff0000;}

.nanum {font-family:'Nanum Gothic', 'Noto Sans KR';}


@media all and (max-width:500px){
	#onbook ul li dl{padding:200px 0px 20px 0px;min-height:auto; border-bottom:1px solid #dcd9d9; }
	#onbook ul li dl dd.book{top:0px;left:35%;}
	#onbook ul li dl dt{margin-left:0px; width:80%;  }
	#onbook ul li dl dd.con{margin-left:0px; }	
}


.sub_con .bul_none {position:relative;}
.sub_con .bul_none li {padding-left:30px; }
.sub_con .bul_none2 li{line-height: 23px; position:relative; margin-bottom: 5px;}

.sub_con .bul_none li:after {display:none !important;}
.sub_con .bul_none li ul li {padding-left:0;}
.bul_cir {border-radius:50%; color:#fff; text-align:center; background:#636b72; display:inline-block; position:absolute; left:0; top:2px; margin:0 0 0 0; width:22px;height:22px;line-height:22px; }
.wrap_controllers {display:none;}
.root_daum_roughmap {margin-bottom:40px !important; width:100% !important;}
.basic_box {line-height:23px; position:relative; background: #fafafa; border:1px solid #ccc; padding:15px;}
.basic_box_tit {color: #d0463b; font-size:20px; font-weight:400; margin-bottom:10px;}
.bul_type1 li.btn_set:after {display:none;}



/* 독서치료 관련 사이트 */
ul.com_info > li {
    float: left;
    margin-bottom: 20px;
    width: 49%;
}

ul.com_info > li:nth-child(2n) {
	float:right;
}

ul.com_info > li:nth-child(2n) {
	margin-left:2%;
}

ul.com_info > li > div {
    position: relative;
    border: 1px solid #dedede;
    padding: 20px;
    height: 150px;
    box-sizing: border-box;
}
ul.com_info > li > div li span.ic1 {
	background: url(/img/sub/sub09/ic1.png) no-repeat 0 0;
	padding-left:30px;
	color:#000;
}
ul.com_info > li > div li span.ic2 {
	background: url(/img/sub/sub09/ic2.png) no-repeat 0 0;
	padding-left:30px;
	color:#000;
	line-height:40px;
}
ul.com_info > li a {
    float: left;
    position: relative;
}

ul.com_info > li dt {
	font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
    color: #333;
}
ul.com_info > li dd {
    font-weight: 400;
    font-size: 14px;
    line-height:20px;
    color:#666;
}

ul.com_info > li > div img.home {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
}
ul.com_info > li > div:hover {
    background: #fafafa;
    border: 3px solid #0098ff;
    padding: 18px;
}
ul.com_info > li > div:hover img.home {
    position: absolute;
    display: block;
}


@media all and (max-width:1000px){
	ul.com_info > li > div {height : 190px;}
}


@media all and (max-width:640px){
	ul.com_info > li {width:100%;}
	ul.com_info > li a{float: none;}

}

/* 조직도 */
.org_bg{background:url('../images/sub/org_bg.jpg')no-repeat 50% 53px; width:100%; padding-top:27px; height:645px;}

.org_bg .n01 { margin:0 auto; width:30%; text-align:center; border:1px solid #3465aa; background:#fff;  line-height:50px; margin-bottom:50px;}
.org_bg .n01 span {display:block; background:#3465aa; color:#fff;display:block; }
.org_bg .n02 {float:left; margin:0 auto; width:30%; text-align:center; border:1px solid #00a58f; background:#fff;  line-height:50px; margin-top:40px; margin-bottom:30px;}
.org_bg .n02 span {display:block; background:#00a58f; color:#fff;display:block;}

.org_bg .n04 {float:right; margin:0 auto; width:30%; text-align:center; border:1px solid #00a58f; background:#fff;  line-height:50px; margin-top:40px; margin-bottom:30px;}
.org_bg .n04 span {display:block; background:#00a58f; color:#fff;display:block;}

.f_l li { float:left; }
.f_l li span {display:block; margin:0 0px; background:#ccc;}

.f_l li.org_left{background: url(../images/sub/org_left.png)no-repeat 50% 0;  height:77px; padding:70px 0% 0px 0%; width:40%; box-sizing:border-box; margin-right:20%;}
.f_l li.org_right{background: url(../images/sub/org_right.png)no-repeat 50% 0;  height:77px; padding-top:70px; width:40%; box-sizing:border-box;} 


.org_left div.n03 {background:#fff; height:48px; font-weight:bold; text-align:center; padding-top:14px; border:3px solid #f26c4f; box-sizing:border-box;}
.org_left div.n03 ul{ text-align:left; display:block;  background:#fff; margin-top:28px; font-weight:normal; min-height:150px; box-sizing:border-box;}
.org_left div.n03 ul li{ float:none !important; width:100%; background:#f3f3f3; box-sizing:border-box; margin-bottom:5px;    color:#333; padding:6px 10px;}
.org_left div.n03 ul li span {background:url(/img/agri/new_common/bul_dot.gif) no-repeat 0px 10px; padding-left:10px; display:inline-block; width:110px; font-weight:400; color:#666; }

.org_right div.n03 {background:#fff; height:48px; font-weight:bold; text-align:center; padding-top:14px; border:3px solid #f26c4f; box-sizing:border-box;}
.org_right div.n03 ul{position:relative; text-align:left; display:block;  background:#fff; margin-top:28px; font-weight:normal; min-height:150px; box-sizing:border-box;}
.org_right div.n03 ul li{ float:none !important; width:100%; background:#f3f3f3; box-sizing:border-box; margin-bottom:5px; color:#333; padding:6px 10px;}
.org_right div.n03 ul li span {background:url(/img/agri/new_common/bul_dot.gif) no-repeat 0px 10px; padding-left:10px; display:inline-block; width:110px; font-weight:400; color:#666;}

@media all and (max-width:613px){ 
	.org_bg{background:url('../images/sub/org_bg1.jpg')no-repeat 50% 45px;}
	.org_bg .n01 {margin-bottom:20px; width:40%;}
	.org_bg .n02 {float:none; margin-top:20px; margin-bottom:20px; width:40%;}
	.org_bg .n04 {float:none; margin-top:20px; margin-bottom:20px; width:40%;}
}

@media all and (max-width:520px){ 
	.org_bg{height:700px}
}

@media all and (max-width:400px){ 
	.org_bg{height:730px}
}

.new_btn {position: relative; display: inline-block; cursor: pointer; line-height: 1em; height: 14px; padding: 13px 40px 13px 15px; font-size: 12px; margin: 1px; background: #878f9a url(../images/sub/newbtn.png)no-repeat 70px center; color:#fff !important;}
.new_btn:hover {background-color:#727b87;}

.prolistarea{
	width:100%;
	overflow: hidden;
}

/* 인사말/연혁 */
div.greeting p {background:url(../images/sub/gr_bg.jpg) no-repeat right 0;  padding:100px 0px 50px 0px;}
div.greeting div { color:#777; 
-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    line-height: 26px;
}


@media all and (max-width:550px){

	div.greeting p {background:none;  padding:10px 0px 50px 0px; background-size:50%;}
	div.greeting div { -webkit-column-count:1; /* Chrome, Safari, Opera */
		-moz-column-count:1; /* Firefox */
		column-count:1;

		-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
		-moz-column-gap: 0px; /* Firefox */
		column-gap:0px;
	}
	div.greeting p img{width:100%;}
}

/* 인사말/연혁 */
.history_area box_st {font-size:16px;}
.history_area h4 {width:159px; height:59px; line-height:59px; margin:30px auto 0; padding:50px 0; font-size:30px; color:#fff; text-align:center; background:url("../images/sub/history_tit.png") no-repeat center top;}
.history_area h4 span {display:block; background:url("../images/sub/bu_history_tit.gif") no-repeat center top;}
.history_area ol {padding-top:100px; background:url("../images/sub/history_line.gif") repeat-y center top;}
.history_area ol li.hist_r {position:relative;  margin:-200px 0 0 440px; padding-left:85px; overflow:hidden; background:url("../images/sub/history_point.png") no-repeat left 30px;}
.history_area ol li.hist_r .bg_list {position:absolute; left:66px; top:45px; width:20px; height:23px; background:url("../images/sub/bg_history_list_r.png") no-repeat left top;}
.history_area ol li.hist_r dl {position:relative;width:83%; padding:30px; border:1px solid #c7c7c7; border-radius:5px;}
.history_area ol li.hist_r dl dt {margin-bottom:20px; font-size:26px; color:#0091ed; }
.history_area ol li.hist_r dl dd {position:relative; margin:3px 0; padding-left:80px; line-height:1.6;  font-size:14px; color:#222;}
.history_area ol li.hist_r dl dd span {position:absolute; left:0; top:0; width:700px; line-height:1.6; color:#009cff;}
.history_area ol li.hist_l {position:relative; margin:-60px 442px 0 0; padding-right:85px; overflow:hidden; background:url("../images/sub/history_point.png") no-repeat right 30px;}
.history_area ol li.hist_l .bg_list {position:absolute; right:66px; top:45px; width:20px; height:23px; background:url("../images/sub/bg_history_list_l.png") no-repeat left top;}
.history_area ol li.hist_l dl {position:relative;width:80%; padding:30px; float:right; text-align:right; border:1px solid #c7c7c7; border-radius:5px;}
.history_area ol li.hist_l dl dt {margin-bottom:20px;  font-size:26px; color:#0091ed; }
.history_area ol li.hist_l dl dd {position:relative; margin:3px 0; padding-right:80px; line-height:1.6;  font-size:14px; color:#222;}
.history_area ol li.hist_l dl dd span {position:absolute; right:0; top:0; width:70px; line-height:1.6; color:#009cff;}
.history_area ol li.hist_point {background-image:url("../images/sub/history_point2.png");}
 

@media only screen and (max-width: 1000px) {

	/* 연혁 */
	.history_area .box_st br {display:none;}
	.history_area h4 {margin:30px 0 0;}
	.history_area ol {padding-top:20px; background-position:79px top;}
	.history_area ol li.hist_r {margin:20px 0 0 57px;}
	.history_area ol li.hist_l {margin:20px 0 0 57px; padding:0 0 0 85px; background-position:left 30px;}
	.history_area ol li.hist_l .bg_list {left:66px; right:auto; background:url("../images/sub/bg_history_list_r.png") no-repeat left top;}
	.history_area ol li.hist_r dl {width:100%; padding:30px; float:none; text-align:left; -webkit-box-sizing:border-box; , -moz-box-sizing:border-box; box-sizing:border-box;}
	.history_area ol li.hist_l dl {width:100%; padding:30px; float:none; text-align:left; -webkit-box-sizing:border-box; , -moz-box-sizing:border-box; box-sizing:border-box;}
	.history_area ol li.hist_l dl dd {padding:0 0 0 80px;}
	.history_area ol li.hist_l dl dd span {left:0; right:auto;}
}

@media only screen and (max-width: 580px) {

/* 연혁 */
	.history_area h4 {display:none;}
	.history_area ol {padding-top:20px; background-position:15px 100px;}
	.history_area ol li.hist_r, .history_area ol li.hist_l {margin:10px 0 0 0px; padding-left:40px; background-size:30px;}
	.history_area ol li.hist_r dl dt {margin-bottom:10px; font-size:22px;}
	.history_area ol li.hist_l dl dt {margin-bottom:10px; font-size:22px;}
	.history_area ol li.hist_r dl dd, .history_area ol li.hist_l dl dd {margin:5px 0; padding:0;}
	.history_area ol li.hist_r dl dd span {position:relative; left:auto; top:auto; display:block; }
	.history_area ol li.hist_l dl dd span {position:relative; right:auto; top:auto; display:block;}
	.history_area ol li.hist_r .bg_list, .history_area ol li.hist_l .bg_list {left:35px; top:33px; width:15px;}

}


/* join */
.in_addr1 {width:35%;} 
.in_addr2 {width:30%;}
.in_mem_num {width:30%;}
.in_tel {width:80px;}
.in_email {width:130px;}
.in_tel2 {width:100px;}
.file_del {display:inline-block; color:#fff; cursor:pointer; margin-left:10px; padding:0 6px; background:#e10000; line-height:20px;}
.file_del:hover {color:#fff; background:#c40c0c;}


.prolist{
	display:inline-block;
	width: 40%;
	height: 200px;
	margin-top: 5%;
	margin-left: 5%;
	border: 1px solid black;
}

.proa{
	width: 100%;
	height: 100%;
}



/* study */
.studyArea {}
.studyArea .studyProgram {}
.studyArea .studyProgram  > li {margin-bottom:10px; display: inline-block;  float:left; width:49.5%; border:1px solid #ccc; box-sizing:border-box;}
.studyArea .studyProgram  > li:nth-child(2n) {margin-left:1%;} 
.studyArea .studyProgram  > li:hover {border:1px solid #656565;}
.studyArea .studyProgram  > li a.link  {color:#4e4e4e;}

.studyArea .studyProgram  > li a.link ul > li {line-height:28px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left:24px;}
.studyArea .studyProgram  > li a.link ul {padding:40px 20px 20px 20px;}
.studyArea .studyProgram:after {display:block; content:""; clear:both;}

.studyArea .studyProgram  > li a.link ul > li.title {text-align: center; padding-left: 0; margin-bottom:20px; font-size:18px;}
.studyArea .studyProgram  > li a.link ul > li.n01 { background:url(../images/sub/scon02.jpg) no-repeat 0 center;}
.studyArea .studyProgram  > li a.link ul > li.n02 { background:url(../images/sub/scon03.jpg) no-repeat 0 center;}
.studyArea .studyProgram  > li a.link ul > li.n03 { background:url(../images/sub/scon04.jpg) no-repeat 0 center;}
.studyArea .studyProgram  > li a.link ul > li.n04 { background:url(../images/sub/scon05.jpg) no-repeat 0 center;}
.studyArea .studyProgram  > li a.link ul > li span {color:#333; font-weight:500;}

.studyArea .studyProgram > li {position:relative;}
.studyArea .studyProgram  > li > div.studyNotice {position:absolute; top:0; left:0; background:url(../images/sub/study_bg.jpg) no-repeat; width:74px; height:44px; box-sizing:border-box; text-align:center; color:#fff; padding-top:12px;}

@media all and (max-width:620px) {
	.studyArea .studyProgram  > li {width:100%;}
	.studyArea .studyProgram  > li:nth-child(2n) {margin-left:0;} 
}


/*  스터디 
.studyArea{
	width:100%;
	align: center;
	float: left;
	overflow: hidden;
}

.studyProgram{
	width: 45%;
	height: 233px;
	margin-bottom: 4%;
	margin-left: 4%;
	display: inline-block;
	overflow: hidden;
	border: 1px solid lightgray;
}

.studyProgram a{
	width: 95%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.studyProgram span{
	font-size: 18px;
}

.studyJoinIntro{
	border: 1px solid lightgray;
	width: 96%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 2%;
	padding-top: 2%;
	padding-right: 2%;
	font-size: 15px;
}

.studyJoinIntro li{
	margin-bottom: 2%;	
}

.joinphone{
	font-size: 15px;
	font-weight: bold;
}

.studydangerarea{
	margin-top: 2%;
}

.studydanger{
	font-size: 18px;
} */














/******************** pad *****************/
@media all and (max-width:1000px) {
	
	/* qna */
	.qna .qna_table {width:100%; margin-top:7px;} 
	.qna dd.tdd {margin-left:0 !important;}
	.scroll_info {margin-top:33px;}
	
	/* join */
	.in_addr1 {width:100%;} 
	.in_addr2 {width:100%;}
	.in_mem_num {width:50%;}
}







/******************** mob *****************/
@media all and (max-width:767px) {
	.freebrd_box {margin-bottom:40px; position:relative; background: #fafafa; border: 1px solid #ccc;}
	.freebrd_box .inner {padding:20px;}
	.freebrd_box .inner span.icon {display:none;}
	
	/* qna */	
	.qna dt {line-height:24px;}
	.qna dd {line-height:23px;}
	

}


@media all and (max-width:500px) {
	/* join */
	.in_mem_num {width:100%;}
	/* .w_idx_01, .w_idx_02 { display: none;} */
}